// -----------------------------------------------------------------------------
// В этом файле общие стили для компонента "Поле ввода"
// и подключение дополнительных вариаций
// -----------------------------------------------------------------------------

$input-field: #f3f3f3;
$input-field__hover: #fcfcfc;

// Переменные для обводки инпутов
$input-field__active: #000000;
$input-field__error: #c92627;

@import "input";
@import "input-field";
