.nav-footer {
  &__list {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
    }
  }

  &__item {
    width: 50%;

    @include between(1, 4) {
      margin-bottom: 50px;

      @include breakpoint($breakpoint-computer) {
        margin-bottom: 28px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 20px;
      }
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 20px;
    }

    &:hover {
      a {
        color: $text-red;
      }
    }
  }

  &__link {
    font-size: $font-size-5;
    transition: color 0.15s ease;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-6;
    }

    @include breakpoint($breakpoint-tablet-large) {
      font-size: $font-size-8;
    }
  }
}
