.select {
  position: relative;

  width: 100%;
  padding: 35px 0;

  font-size: $font-size-5;

  cursor: pointer;

  @include breakpoint($breakpoint-computer) {
    font-size: $font-size-7;
  }

  &:hover &__list {
    background-color: $input-field__hover;
  }

  &--open {
    cursor: default;

    .select__list {
      border-color: $input-field__active;
      background-color: $palette-white;
    }

    &:hover .select__list {
      background-color: $palette-white;
    }
  }

  &__wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
  }

  &__list {
    width: 100%;
    height: 100%;

    border-radius: 60px;
    border: 2px solid transparent;

    padding: 0 35px;

    background-color: $input-field;
    transition: background-color 0.15s ease;
  }

  &__item {
    padding: 35px 0;

    transition: all 0.15s ease;

    @include all-but-first-last(2) {
      border-bottom: 1px solid #f3f3f3;
    }

    @include breakpoint($breakpoint-computer) {
      padding: 20px 0;
    }

    &:not(.select__item--default) {
      cursor: pointer;

      &:hover {
        color: $text-red;
      }
    }

    &--default {
      color: $text-gray;
    }

    &--hide {
      display: none;
    }

    &--selected {
      display: block;
    }
  }

  &__arrow {
    position: absolute;
    top: 42px;
    right: 60px;

    width: 24px;

    @include breakpoint($breakpoint-computer) {
      top: 28px;
      right: 30px;

      width: 16px;
    }

    &--rotate {
      transform: rotate(180deg);
    }
  }
}
