.form {
  &__info {
    font-size: $font-size-5;
    transition: all 0.15s ease;

    opacity: 0;
    visibility: hidden;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-6;
    }

    @include breakpoint($breakpoint-tablet-large) {
      font-size: 12px;

      text-align: center;
    }

    &--show {
      opacity: 1;
      visibility: visible;
    }

    &--error {
      color: $text-red;
    }

    &--accept {
      color: $text-green;
    }
  }

  .button {
    @include breakpoint($breakpoint-mobile-large) {
      display: block;

      width: 100%;
      max-width: 288px;

      margin: 0 auto;
    }
  }
}
