// Основной цвет
// Цветовая палитра блоков
$palette-white: #ffffff;

// Цветовая палитра кнопок
$button-primary: #75b726;

// Цветовая палитра инпутов
$input-text: #a0a0a0;

// Цветовая палитра текста
$text-black: #1b1616;
$text-red: #c92627;
$text-green: #0e8d0b;
$text-gray: #c9c9c9;
$text-white: #ffffff;
