// -----------------------------------------------------------------------------
// Фрагмент стилизации секции "Главная"
// -----------------------------------------------------------------------------

#hero {
  @include background("../img/section/hero/background.jpg");

  margin-bottom: 60px;

  @include breakpoint($breakpoint-tablet-large) {
    background: none;
  }
}

.hero {
  padding-top: 30px;
  padding-bottom: 35px;

  @include breakpoint($breakpoint-tablet-large) {
    padding-top: 110px;
  }

  &__foreground {
    width: 100%;

    margin-left: -60px;

    @include breakpoint($breakpoint-computer) {
      margin-left: 40px;
    }

    &--desktop {
      @include breakpoint($breakpoint-tablet-large) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      max-width: 400px;

      @include breakpoint($breakpoint-tablet-large) {
        display: block;
      }

      @include breakpoint($breakpoint-mobile-large) {
        width: 100%;
        max-width: 100%;

        margin-bottom: 30px;
        margin-left: 0;
      }
    }
  }

  &__title {
    font-size: $font-size-1 - 8;
    line-height: 68px;

    text-transform: uppercase;

    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-2 - 8;
      line-height: 60px;
    }

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size-3;
      line-height: 49px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-5;
      line-height: 35px;
    }

    &--important {
      color: $text-red;
    }
  }

  &__description {
    margin-bottom: 55px;

    @include breakpoint($breakpoint-computer) {
      margin-bottom: 35px;
    }
  }

  &__button {
    &--mobile {
      display: none;

      @include breakpoint($breakpoint-tablet-large) {
        display: block;
      }
    }

    @include breakpoint($breakpoint-tablet-large) {
      width: 100%;
      padding: 15px 20px;
      font-size: 16px;
    }
  }
}
