.map {
  position: relative;

  &__foreground {
    position: relative;
  }

  &__image {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;

    width: 100%;
    border-radius: 60px;

    @include breakpoint($breakpoint-tablet) {
      top: -30px;

      max-width: 220px;
      border-radius: 12px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      max-width: 120px;
    }
  }

  &__container {
    position: relative;
    height: 750px;

    border-radius: 30px;
    overflow: hidden;

    @include breakpoint($breakpoint-computer) {
      height: 500px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      height: 220px;
    }
  }
}