// -----------------------------------------------------------------------------
// Фрагмент стилизации секции "Партнеры"
// -----------------------------------------------------------------------------

.partners {
  @include flex($justify: center);
  margin-top: 60px;


  &__logo {
    margin: 0 45px;

    @include breakpoint($breakpoint-mobile-large) {
      margin: 0 25px;
    }

    @include breakpoint($breakpoint-mobile-medium) {
      margin: 0 15px;
    }
  }

  &__image {
    @include breakpoint($breakpoint-tablet-large) {
      max-width: 200px;
    }

    @include breakpoint($breakpoint-tablet) {
      max-width: 150px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }
}
