// -----------------------------------------------------------------------------
// Фрагмент стилизации секции "Партнеры"
// -----------------------------------------------------------------------------

.partners {
  @include flex($justify: center);
  margin-top: 60px;

  &__logo {
    margin: 0 45px;
  }

  &__image {
    @include breakpoint($breakpoint-tablet-large) {
      max-width: 200px;
    }

    @include breakpoint($breakpoint-tablet) {
      max-width: 150px;
    }
  }
}
