// -----------------------------------------------------------------------------
// Фрагмент стилизации секции "Команда"
// -----------------------------------------------------------------------------

.team {
  &__card {
    margin-bottom: 90px;

    @include breakpoint($breakpoint-computer) {
      margin-bottom: 60px;
    }
  }

  &__photo {
    width: 100%;
    border-radius: 60px;

    transition: opacity 0.15s ease;

    @include breakpoint($breakpoint-tablet) {
      border-radius: 20px;
    }
  }

  a:hover &__photo {
    opacity: 0.7;
  }

  &__name {
    @include breakpoint($breakpoint-computer) {
      font-size: $font-size-7;
      line-height: 28px;
    }

    @include breakpoint($breakpoint-tablet-large) {
      font-size: $font-size-8;
      line-height: 24px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-9;
      line-height: 20px;
    }
  }

  &__link {
    transition: color 0.15s ease;

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-10;
      line-height: 20px;
    }

    &:hover {
      color: $text-red;
    }
  }
}
